.locations {
  margin: 40px 0 60px;
  min-height: 640px;
}

.locations .pattern {
  bottom: 25%;
  right: 22%;
}

.locations .infinity {
  bottom: -5%;
  right: 0;
}

.locations .title {
  font-family: BebasNeue;
  font-size: 51px;
  line-height: 0.47;
  color: var(--mid-green);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.locations .title::after {
  content: "";
  width: 90px;
  height: 3px;
  background-color: var(--mid-green);
  display: block;
  margin: 16px 0 40px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.locations .title:hover::after {
  width: 100%;
}

.locations .cards {
  height: 100%;
}

.locations .cards a {
  display: block;
  text-decoration: none;
}

.locations .address {
  padding: 5px 25px 0;
  width: 50%;
  border: 2px solid var(--mid-green);
  border-radius: 10px;
  background: #fff;
  z-index: 9;
  color: var(--mid-green);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.locations .address:hover {
  background-color: var(--mid-green);
  color: #fff;
}

.locations .address h4 {
  font-family: BebasNeue;
  font-size: 22px;
  line-height: 1.23;
  margin: 0;
  text-decoration: none;
}

.locations .address h4::after {
  content: "";
  width: 80%;
  height: 1px;
  background-color: var(--mid-green);
  display: block;
  margin: 3px auto 0;
}

.locations .address h5 {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  text-decoration: none;
}

footer {
  font-family: BebasNeue;
  background-color: var(--mid-green);
  padding-top: 100px;
}

footer .info {
  font-size: 14px;
  line-height: 1.5;
  margin: 30px 0 40px;
}

footer .time {
  font-size: 14px;
}

footer h5 {
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 30px;
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer li {
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 7px;
}

footer li a {
  text-decoration: none;
  color: #fff;
}

footer li a::after {
  content: "";
  width: 0px;
  height: 1px;
  background-color: #fff;
  display: block;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

footer li a:hover {
  color: #fff;
}

footer li a:hover::after {
  width: 30px;
}

footer .social-h {
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 15px;
}

footer .social img {
  padding-right: 40px;
  height: 23px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

footer .social img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .Subscribe {
  font-size: 16px;
  line-height: 1.75;
}

footer .form-control {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

footer .form-control:focus {
  border-color: #fff;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  background-color: transparent;
  color: #fff;
}

footer ::-webkit-input-placeholder {
  color: #fff !important;
  opacity: .8;
}

footer :-ms-input-placeholder {
  color: #fff !important;
  opacity: .8;
}

footer ::-ms-input-placeholder {
  color: #fff !important;
  opacity: .8;
}

footer ::placeholder {
  color: #fff !important;
  opacity: .8;
}

footer :-ms-input-placeholder {
  color: #fff !important;
}

footer ::-ms-input-placeholder {
  color: #fff !important;
}

footer .btn {
  background-color: #fff;
  color: #000;
  font-family: BebasNeue;
}

footer .copyright {
  background-color: #2d671d;
  padding: 10px 0 2px;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=footer.css.map */