@import "general";


/* hero start */

.hero{
    overflow-x: clip;
    min-height: 630px;
    @media(max-width:786px) {
        min-height: unset;
    }
    .right-arch{
        top: -40px;
        right: 0px;
        @media(max-width:768px) {
            top: 0;
        }
    }
    @keyframes banner-icon-rotate {
        0%{transform: rotateZ(100deg);    right: 0px;
            width: 210px;}
        50%{    transform: rotateZ(-50deg);
            right: -70px;
            width: 215px; top: 80px;}
        100%{transform: rotateZ(100deg);    right: 0px;
            width: 210px;}
    }
    .banner-green-ball{
        top: 70px;
        right: 0;
        width: 210px;
        animation: banner-icon-rotate 6s infinite ease-in-out;
    }
}
/* hero end */
// find a doctor start
.find-a-doctor{
    min-height: 410px;
    .scalable{
        margin: 0 21px 0 0;
        border-radius: 8px;
        box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.07);
        background-color: #fff;
        transition: all 500ms;
        z-index: 9999;
        position: relative;
    }
    .pattern-circle{
        bottom: -10px;
        left: 0;
    }
    .pattern{
        bottom: -40px;
        right: 65px;
    }
    .half-circle{
        bottom: -200px;
        right: 0;
    }
    .T-large{
        @media(min-width:768px) {
            width: 50%;
        }
        font-size: 42px;
        padding: 42px 22px 58px 26px;
    }
    .T-small{
        @media(min-width:768px) {
            width: 25%;
        }        font-size: 23px;
        padding: 35px 25px 34px;
    }
    .form-select {
        font-size: 16px;
        margin-bottom: 33px;
        font-weight: normal;
        font-stretch: condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--greyish-brown);
        background-image: url(../img/icon-drop-down.svg);
        background-size: auto;
        &:focus{
            border-color: var(--mid-green);
            outline: 0;
            box-shadow: 0 0 0 0 transparent;
        }
      }
    .Book-an-Appointment {
        font-family: BebasNeue;
        font-size: 17px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
        background-color: var(--mid-green);
        width: 100%;
        border: 2px solid var(--mid-green);
        border-radius: 2px;
        padding-top: 6px;
        transition: 500ms;
        &:hover{
            background-color: transparent;
            color: var(--mid-green);
        }
      }
    .title {
        margin: 33px 0 33px;
        font-family: BebasNeue;
        font-size: 100%;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: var(--text);
      }
      .desc{
        margin: 17px 6px 0;
        font-size: 14px;
        line-height: 1.64;
        letter-spacing: 0.28px;
        text-align: center;
        color: var(--text)
      }
} 

// find a doctor end

// About us start
.about-us{
>img{
    position: absolute;
    transition: all 500ms;
    z-index: -1;
    top: 180px;
    left: 70px;
}
.first{
    top: 35px;
    left: 45px;
}
.sec{
    top: 80px;
    left: 75px;
}
.third{
    top: 135px;
    left: 85px;
}
.fourth{
    top: 180px;
    left: 70px;
}
.fifth{
    top: 200px;
    left: 50px;
}
.nav{
        @media(min-width:768px) {
            &::before{
                content: "";
                background-image: url(../img/left-arch.webp);
                width: 230px;
                height: 386px;
                position: absolute;
                background-repeat: no-repeat;
                left: 0;
                z-index: -1;
            }
        }
        .nav-link{
            object-fit: contain;
            font-family: BebasNeue;
            font-size: 28px;
            line-height: 1.41;
            color: #2d2d2d;
            text-align: left;
            width: fit-content;
            text-shadow: 0px 0px 10px white;
            &::after{
                content: "";
                width: 0;
                height: 3px;
                background-color: var(--mid-green);
                display: block;
                margin: 16px 0 0;
                transition: all 500ms;
            }
            &:hover{
                color: var(--mid-green);
                &::after{
                    width: 50%;
                }
            }
        }
        .nav-link:first-child{
            padding-left: 115px;
        }
        .nav-link:nth-child(2){
            padding-left: 135px;
        }
        .nav-link:nth-child(3){
            padding-left: 155px;
        }
        .nav-link:nth-child(4){
            padding-left: 135px;
        }
        .nav-link:nth-child(5){
            padding-left: 115px;
        }
        .nav-link.active{
            font-size: 32px;
            line-height: 0.8;
            color: var(--mid-green);
            background-color: transparent;
            &::after{
                width: 100%;
            }
        }
    }
.tab-content{
        .title{
            margin: 0 30px 0 10px;
            font-family: BebasNeue;
            font-size: 32px;
            line-height: 1.41;
            color: #2d2d2d;
        }
        .desc{
            margin: 12px 0 23px 13px;
            font-family: Barlow;
            font-size: 19px;
            font-stretch: condensed;
            line-height: 1.47;
            color: var(--greyish-brown);
            text-align: justify;
        }
        .btn-success{
            background-color: var(--mid-green);
            font-family: BebasNeue;
            font-size: 17px;
            color: #fff;
            margin-left: 15px;
        }
    }
.tab-pane{
    img{
        width: 100%;
    }
}
}
// About us end

// Institutes start
.Institutes{
    a{
        text-decoration: none;
    }
    .title{
        margin-bottom: 40px;
        object-fit: contain;
        font-family: BebasNeue;
        font-size: 51px;
        line-height: 1;
        color: var(--mid-green);
        width: fit-content;
        &::after{
            content: "";
            width: 90px;
            height: 3px;
            background-color: var(--mid-green);
            display: block;
            margin: 16px 0 0;
            transition: all 500ms;
        }
        &:hover{
            &::after{
                width: 100%;
            }
        }
    }
    .spe-box{
        img{
            width: 100%;
        }
        h3{
            font-family: BebasNeue;
            font-size: 33px;
            line-height: 1.3;
            color: #2d2d2d;
            font-weight: 500;
            width: 80%;
            margin-top: 15px;
            &::after{
                content: "";
                width: 80%;
                height: 3px;
                background-color: var(--mid-green);
                display: block;
                transition: all 500ms;
                margin-bottom: 40px;
            }
        }
    }
}
// Institutes end

// footer
@import "footer"