@import "general";

/* hero start */
.hero{
    background-image: url(../img/TOS-banner.jpg);
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    overflow-x: clip;
    .right-arch{
        top: -40px;
        right: 0px;
        @media(max-width:768px) {
            top: 0;
        }
    }
    @keyframes banner-icon-rotate {
        0%{transform: rotateZ(100deg);    right: 0px;
            width: 210px;}
        50%{    transform: rotateZ(-50deg);
            right: -70px;
            width: 215px; top: 80px;}
        100%{transform: rotateZ(100deg);    right: 0px;
            width: 210px;}
    }
    .banner-green-ball{
        top: 70px;
        right: 0;
        width: 210px;
        animation: banner-icon-rotate 6s infinite ease-in-out;
    }
    .banner{
        min-height: 400px;
        padding-top: 185px;
        z-index: 99999;
    }
    .title{
        font-family: BebasNeue;
        font-size: 56px;
        line-height: 1.29;
        z-index: 999;
    }
    .breadcrumb-item{
        font-family: BebasNeue;
        font-size: 27px;
        line-height: 0.89;
        color: #bbb;
        z-index: 999;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
}
/* hero end */

// TOS start
.TOS{
    .nav-tabs{
        border-bottom: 0;
    }
    a{
        text-decoration: none;
    }
    .nav-item{
        width: 30%;
        margin-bottom: 20px;
    }
    .T-tab{
        font-family: BebasNeue;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        text-decoration: none;
        text-transform:uppercase;
        border-radius: 5px;
        transition: all 500ms;
        background-color: transparent;
        color: var(--mid-green);
        border: 3px solid var(--mid-green);
        height: 100%;
        &:hover{
            background-color: var(--mid-green);
            border: 3px solid transparent;
            color: #fff;
        }
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        color: #fff;
        background-color: var(--mid-green);
        border: 3px solid transparent;
    }
    .book-btn{
        border: 2px solid var(--mid-green);
        border-radius: 4px;
        bottom: -100px;
        width: 90%;
        left: 5%;
        text-decoration: none;
        font-family: BebasNeue;
        font-size: 18px;
        letter-spacing: 1.06px;
        padding: 8px 0;
        transition: all 500ms;
        background-color: var(--mid-green);
            color: #fff;
        &:hover{
            color: var(--mid-green);
            background-color: #fff;
        }
    }
    .T-heading{
        font-family: BebasNeue;
        font-size: 38px;
        color: var(--mid-green);
        width: fit-content;
        &::after{
            content: "";
            width: 30%;
            height: 3px;
            background-color: var(--mid-green);
            display: block;
            transition: all 500ms;
            margin: 20px 0;
        }
    }
    .info{
        &:hover{
            .T-heading{
                &::after{
                    width: 100%;
                }
            }
        }
    }
    .T-text{
        font-size: 19px;
        line-height: 1.74;
        color: #333;
        text-align: justify;
        margin-bottom: 70px
    }
}
// TOS end
// footer
@import "locations";
@import "footer"